*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(185, 21, 80);
}

h1,h2{
    color: white;
    text-align: center;
    margin-top: 20px;
}

.form{
    background-color: white;
    height: 200px;
    margin: 0 auto;
    width: 80%;
    border-radius: 25px;
}

.form > div{
    margin: 0 auto;
}

.form span{
    color: rgb(185, 21, 80);
    font-weight: bold;
    text-align: center;
}

input,select{
    text-align: center;
}

.submit > button{
    margin: 0 5px;
    background-color: white!important;
    color: black;
    border: 1px solid #ced4da;
}

.biglietto span{
    color: black;
}

.ticket{
    border-radius: 0;
}

.ticket-content{
    padding: 10px;
}

.nome-passeggero{
    /*border: 2px solid grey;*/
    background-color: grey;
    width: 35%;
}

.prezzo{
    width: 65%;
    border: 1px solid gray;
}

.prezzo > div{
    padding: 10px 0;
}